
[homesync-test]
# list of test servers

[homesync-production]
# list of production server


# ---

[homesync:children]
homesync-test
homesync-production

[homesync-test:vars]
homesync_env = test

[homesync-production:vars]
homesync_env = production
